body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

canContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.demo {
  position: absolute;
  bottom: 50px;
}